{% extends 'Layout.html'%} 

    {% block body%}
	<h1> Product</h1>
<br/>
<form  action ="/Product" METHOD="POST">
<input type="text" placeholder="Name"   name="name">
<input type="submit" value="Add New Product" class="btn btn-secondary" >
</form>
<br/><br/>
<ul class="list-group"> 
	 {% for Product in products %}
	
	<li class="list-group-item"> {{Product.name}} 

	<a href="/EditProduct/{{Product.id}}" class="btn btn-outline-secondary btn-sm">Edit</a> </li>

	  {% endfor %}
 </ul>
     {% endblock %}